streamlit
sentence-transformers
transformers
torch
fpdf
SpeechRecognition
pyttsx3
altair
pydantic-settings
chromadb
pydantic
langchain  # last version with load_qa_with_sources_chain
langsmith
packaging
pandas
numpy
pillow  # or another version with pre-built wheels
langchain-community==0.0.29

